/* styles/faq.module.css */

.faq {
  margin-top: 64px;
}

.item {
  background: var(--gi-blue);
  padding: 16px 20px;
  border-radius: 6px;
  
}

.item button {
  background: none;
  border: none;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
}

.item p {
  margin-top: 8px;
  font-size: 14px;
}
