.step {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: flex-start;
  margin-bottom: 40px;
}

.center {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 72px;
  height: 72px;
  background: #2f66dd;
  color: white;
  border-radius: 50%;
  font-size: 28px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 4px;
  height: 60px;
  background: #9ca3af;
  margin-top: 4px;
}

.content h4 {
  margin-bottom: 4px;
}
